/*========body section==========*/

body{
	background-image: url("bac2.jpg");
	margin:0px;
	font-family:verdana,georgian,helvetica,arial;
	font-size:14px;
}
/*========layout section==========*/

#header{
	background-color:transparent;
	margin:10px;
	height:120px;
	border-radius:5px;
}
#logo{
	float:left;
}
img{
	max-width:100%;
	max-height:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
}
#navbar ul {
	padding:5px;
	list-style-type:none;
	text-align:center;
	background-color:#000;
	margin:10px;
	border-radius:5px;
}
#navbar ul li {
	display:inline;
}
#navbar ul li a{
	text-decoration:none;
	font-family:arial;
	padding:.2em 1em;
	color:#fff;
	background-color:#000;
	border-radius:5px;
}
#navbar ul li a:hover{
	color:#000;
	background-color:#fff;
}
.left{
	background-color: #336699;
	margin:0 auto;
	border-radius:5px;
	padding:20px;
	font-family:120%;
	width:70%;
	height:450px;
	overflow:auto;
	clear:right;
	font-size:20px;
	position:relative;
	
}
textarea{
	
	width:100%;
	height:370px;
	border-radius:5px;
	font-size:20px;
}
#footer{
	background-color:transparent;
	margin:10px;
	height:60px;
	border-radius:5px;
	clear:both;
	color:#efe5d0;
	text-align:center;
	padding:15px;
	font-size:90%;
}
#footer ul {
	padding:5px;
	list-style-type:none;
	text-align:center;
	margin:10px;
	border-radius:5px;
}
#footer ul li {
	display:inline;
}
#footer ul li a{
	text-decoration:none;
	font-family:arial;
	padding:.2em 1em;
	color:black;
	background-color:white;
	border-radius:5px;
}
#footer ul li a:hover{
	color:white;
	background-color:#336699;
}

/*========heading section==========*/
h1{
	font-size:120%;
	color:#ce282e;
}
h2{
	font-size:120%;
	color:darkblue;
}
h3{
	font-size:250%;
	text-align:center;
	color:#e5e4d7;
	font-family:"Century Gothic","Gill Sans",Arial,sans;
	margin:0px;
	position:relative;
	top:50%;
	-webkit-transform:translate(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}