/*====body section=====*/
body{
	background-image: url("bac2.jpg");
	margin:0px;
	font-family:verdana,georgian,helvetica,arial;
	font-size:14px;
	color:white;
    
}
/*=========header & logo========*/
#header{
	background-color:transparent;
	margin:10px;
	height:120px;
	border-radius:5px;
}
#logo{
	float:left;
}
img{
	max-width:100%;
	max-height:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
}
#navbar ul {
	padding:5px;
	list-style-type:none;
	text-align:center;
	background-color:#000;
	margin:10px;
	border-radius:5px;
}
#navbar ul li {
	display:inline;
}
#navbar ul li a{
	text-decoration:none;
	font-family:arial;
	padding:.2em 1em;
	color:#fff;
	background-color:#000;
	border-radius:5px;
}
#navbar ul li a:hover{
	color:#000;
	background-color:#fff;
}
#logo{
	float:left;
}
img{
	max-width:100%;
	max-height:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
}
h3{
	font-size:250%;
	text-align:center;
	color:#e5e4d7;
	font-family:"Century Gothic","Gill Sans",Arial,sans;
	margin:0px;
	position:relative;
	top:50%;
	-webkit-transform:translate(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
h2{
	font-size:100%;
	text-align:center;
	color:#000;
	font-family:"Century Gothic","Gill Sans",Arial,sans;
	margin:0px;
	position:relative;
	top:50%;
	-webkit-transform:translate(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
#con1{
	height:25px;
	background-color:#e7e4d7;
	border:1px solid black;
	margin:10px 10px 10px 10px;
	border-radius:10px;
	text-align:center;
}
.detail{
	height:200px;
	border:1px solid black;
	border-radius:5px;
	margin:10px;
	background-color:transparent;
	text-align:center;
	color:white;
}
#pic{
	float:right;
}
p{color:white;}